
body {
    background: #e1ecf2;
    height: 100vh;
    overflow: hidden;
  }
  
  .middle {
    height: 88vh;
    margin-top: 80px;
    background-color: rgb(249, 248, 248);
    padding: 20px;
    gap: 50px;
    border-radius: 50px;
    overflow: auto; 
}

  .buttons {
      display: flex;
      flex-direction: row;
      gap: 5px;
      align-items: flex-start;
      justify-content: flex-start;
      flex-shrink: 0;
      position: relative;
    }
  button{
          border: 0;
          background: #DBA1F2;
          width: 100px;
          font-family: inherit;
          padding: 10px;
          font-size: 12px;
          margin-left: 50px;
          margin-top: 10px;
          border-radius: 20px;
          cursor: pointer;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);

    }
    .title{
        margin-left: 50px;
        margin-top: 20px;
    }
    .buttons button:hover{
          background: #6a049d;
          cursor: pointer;
    }
  
  .table {
    border-collapse: collapse;
    width: 100%;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 12px;
    text-align: left;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-top: 20px;
    margin-bottom: 0px;
  } 
  .table th {
    background-color: #86498b;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    letter-spacing: 1px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ccc;
  }

  .table tr:nth-child(even) td {
    background-color: #f2f2f2;
  }
  
  .table tr:hover td {
    background-color: #f6ccff;
  }

  .table td {
    background-color: #fff;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
  }

.popup-form{
    display: none;
}

.popup-container{
    background-color: #ffc9f5;
    margin-top: 2vh;
    border-radius: 2%;
    width: fit-content;
    padding: 1%;
    /*margin-left: ;*/
}

.form-button{
    display: flex;
}