@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    /* Colors */
    --color-white: #fff;
    --color-gray-100: #232020;
    --color-gray-200: #202020;
    --color-black: #000;

    --primary-color: #100f0f;
    --secondary-color: #787575;
    --tertiary-color: #fff;
    --water-color: #023e8a;
    --water-color2: #012A4A;
    --water-color4: #97b6fa;
    --electricity-color: #c7ba03;
    --electricity-color2: #8c7400;
    --electricity-color3: #feec98;
    --superadmin-color1: #DBA1F2;
    --superadmin-color2: #450068;
    --superadmin-color3: #86498b ;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fcontainer{
    padding-left: 20px;
    padding-top: 95px;
    justify-content: center; /* Centering the form horizontally */

}

.form-box {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: vae(--tertiary-color);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    font-weight: bold;
    font-size: 15p;
    margin-bottom: 20px;
    padding-left: 20px;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    font-weight: bold;
    margin-bottom: 5px;
}
input[type="text"],
textarea,
select {
    margin-bottom: 10px;
    padding: 8px;
    border: none;
    border-bottom: 1px solid #909090;
    border-radius: 4px;
    transition: border-bottom 0.3s;
}
input[type="text"]:focus,
textarea:focus,
select:focus {
    outline: none;
    border-bottom: 2px solid #000;
}
.btn-container {
    display: flex;
    justify-content: space-between;
}
.btn{
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color:var(--superadmin-color1);
    color: #0c0808;
}
.btn:hover{
    background-color: var(--superadmin-color2);
    color: #FFFFFF;
}