#itemList table {
    border: none;
    border-collapse: collapse;
    width: 100%;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 12px;
    text-align: left;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-top: 20px;
    margin-bottom: 0px;
    border: 1px solid #ffffff;
}

#itemList table th {
    background-color: #86498b;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    letter-spacing: 1px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ccc;
}

#itemList table tr:nth-child(even) td {
    background-color: #f2f2f2;
}

#itemList table tr:hover td {
    background-color: #f6ccff;
}

#itemList table td {
    background-color: #fff;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
}
#actionBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}
#actionBtn i{
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}
#delete {
    background-color: #ff6633;
}
#edit {
    background-color:  #ffb84d;
}

#addItemLink {
    position: fixed;
    bottom: 20px; /* Adjust the distance from the bottom as needed */
    right: 20px; /* Adjust the distance from the right as needed */
    z-index: 1000; /* Ensure the icon appears above other content */
}

#addItemLink a {
    display: block; /* Ensure the entire icon area is clickable */
    width: 50px; /* Adjust the width of the icon container as needed */
    height: 50px; /* Adjust the height of the icon container as needed */
    background-color: #2f2fa1; /* Background color for the icon container */
    color: white; /* Icon color */
    text-align: center;
    border-radius: 50%; /* Make the icon container circular */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a shadow for depth */
    transition: background-color 0.3s, box-shadow 0.3s;
    /* Center the icon vertically */
    line-height: 50px; /* Set line-height equal to height */
}

#addItemLink a i {
    /* Adjust margin-top to center the icon */
    margin: 15px; /* Adjust as needed */
}

#addItemLink a:hover {
    background-color: #a83030; /* Change background color on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Change shadow on hover */
}