@media (max-width:391px) {

    body,
    html {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }

    .logo {
        width: 15vw;
    }
    #header {
        display: flex;

    }

    #navbar {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        height: 100vh;
        width: 50vw;
        position: fixed;
        top: 0;
        right: -300px;
        background-color: #bdc0e8;
        margin: 0px 0px;
        padding-top: 20px;
        transition: all 0.3s ease;

    }

    #navbar a{
        display: flex;
        flex-direction: column;
        margin: 0px 0px 40px 20px;
    }

    .mobile{
        display: flex;
        flex-direction: row-reverse ;


    }

    #backList{
        display: block;

    }
    #navbar .fa-shopping-cart{
        display: none;
    }


    .mobile i{
        margin-left:20px ;
        color: rgb(6, 0, 20);
        font-size: 20px;

    }

    .mobile li{
        text-decoration: none;
        list-style: none;

    }

    #hero {
        background-image: url(../img/hero.jpg);
        height: 70vh;
        width: 100%;
        padding: 0px 50px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        background-position: top 25% right 15%;
        background-repeat: no-repeat;
        background-size: cover;
    }







}