*{
    padding: 0;
    margin: 0;
}
ul{
    list-style: none;
}
.topnavV {
  overflow: hidden;
  float: right;
  margin-top: 20px;
  padding-right: 7px;
  font-size: 36px;
  background-color: lightgreen;
}
.topnavV a {
  float: left;
  display: block;
  color: black;
  font-family: "Monaco";
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;

}
.topnavV a:hover {
  color: saddlebrown;
}
.topnavV a.active {
  color: #075556;
}
.topnavV .icon {
  display: none;
}
.containerX{
    width: 1400px;
    margin: 20px auto;
    padding: 40px 0;
    columns: 4;
    column-gap: 20px;
}
.title{
    margin-bottom: 2rem;
}
.containerX .column{
    width: 100%;
    margin-bottom: 10px;
    break-inside: avoid;
}
.photo-gallery{
    display: flex;
    flex-direction:column;
    column-gap: 20px;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    overflow-x: hidden;
}
.column{
    display: flex;
    flex-direction: column;
    grid-row-gap: 20px;
}
.containerX .column img{
    max-width: 100%;
    border-radius: 15px;
}
@media(max-width:1200px){
    .container{
        columns:3;
    }
    .photo-gallery{
        flex-direction: column;
    }
}