*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    max-width: 100%;
}

.water {
    display: block;
}

.electricity {
    display: none;
}

.nxt-page {
    margin: 12px 0 0 50px;
}

.component-container {
    margin: 2vh;
}

.header-component-water
{
    width: 100%;
    -o-background-size: cover;
    background: url("../../images/water_board_main.png") no-repeat fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    height: 800px;
}

.header-component-elec{
    width: 100%;
    -o-background-size: cover;
    background: url("../../images/electricity_board_main.png") no-repeat fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    height: 800px;
}


.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.navv{
    /*margin: 2vh;*/
    margin: 0 2vh;
    left: 0;
    right: 0;
    box-shadow: 0 5px 5px 0 #aaa;
    width: 100%;
    background: #fff;
    color: #000;
    opacity: 0.85;
    z-index: 100;
    display: block;
    position: fixed;
    padding-bottom: 10px;
}

/*.navv {*/
/*    !* Your existing styles *!*/
/*    box-shadow: 0 5px 5px 0 #aaa;*/
/*    width: 100%;*/
/*    background: #fff;*/
/*    color: #000;*/
/*    opacity: 0.85;*/
/*    z-index: 100;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    position: fixed;*/
/*    padding-bottom: 10px;*/
/*    margin: 0 2vh;*/
/*}*/

/*.navbar-container {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    width: 100%;*/
/*    max-width: 1200px;*/
/*    padding: 0 20px;*/
/*    margin: 0 auto;*/
/*}*/



.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
}

.menu-items{
    order: 2;
    display: flex;
}

.logo{
    order: 1;
    margin-top: 10px;
}

.menu-items-li{
    margin-left: 5rem;
    margin-top: 2.5rem;
}

.menu-items li{
    list-style: none;
    font-size: 2rem;

}

.navbar a{
    color: #444;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover{
    color: #117964;
}

.nxt-page {
    align-items: center;
}

/* CSS */
.button-17 {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform,opacity;
    z-index: 0;
}

.button-17:hover {
    background: #F6F9FE;
    color: #174ea6;
}

.button-17:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
}

.button-17:focus {
    outline: none;
    border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

@media (max-width: 768px){
    .navbar{
        opacity: 0.95;
        height: 75px;
    }

    .header-component {
        height: 100%;
        object-fit: contain;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines{
        display: block;
    }

    .navbar-container{
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines{
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }

    .navbar-container .hamburger-lines .line1{
        transform-origin: 0 0;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3{
        transform-origin: 0 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .menu-items{
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        box-shadow:  5px 0 10px 0 #aaa;
        overflow: scroll;
    }

    .navbar .menu-items li{
        font-size: 1.1rem;
        font-weight: 500;
    }

    .navbar .menu-items li a{
        font-size: 50px;
    }

    .logo{
        position: absolute;
        top: 10px;
        right: 30vw;
        font-size: 2.5rem;
        margin: 0;
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }

    .water-dashboard {
        padding-top: 64px;
    }

}

.plan2{
    background: #EDEDED;
    padding: 2vh;
    margin-top: 5vh;
}

#plan2{
    background: lightblue;
}

#plan2e{
    background: #FCC7C7;
}

ul {
    padding-inline-start: 8vw;
}

.plan2__items li{
    display: inline-block;
    width: 30%;
    margin-right: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    vertical-align: top;
}

.plan2__para{
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 20px;
}

.plan2__heading{
    margin-bottom: 3vh;
    margin-left: 4vh;
}

.plan2__heading3{
    margin-left: 10vh;
}

.plan2__price{
    margin-left: 10vh;
    margin-top: 2vh;
}

.btn__plan2{
    margin-left: 20vh;
    width: 15vh;
    height: 4vh;
    /*background: #1a1d86;*/
    color: white;
    border-radius: 5%;
}

.plan2__item{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EDEDED;
    width: 156px;
    height: 156px;
    /*border: 2px solid #424242;*/
    border-radius: 50%;
    margin: auto;
}

.plan2__item img{
    /*width: 50%;*/
    height: 50% ;
    margin: auto;
}

.element{
    margin-left: 2vh;
    display: inline-block;
    width: 30%;
}

.dropbtn {
    background-color: #EDEDED;
    padding: 8px;
    text-align: left;
    font-size: 12px;
    border-color: black;
    border-radius: 2vh;
    width: 25vw;
}

.dropdown {
    /*position: relative;*/
    margin-top: 2.5vh;
    /*margin-bottom: 5vh;*/
    margin-left: 4vw;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: snow;
    min-width: 160px;
    z-index: 1;
    width: 25vw;
    border-radius: 0 0 2vh 2vh;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 2vh;
    font-size: 14px;
}

.component {
    border-radius: 2vh;
}

.suggestion-component {
    background: #EDEDED;
    padding: 2vh;
    margin-top: 5vh;
    /*margin-left: 2%;*/
    /*margin-right: 2%;*/
}

.suggestions-head {
    margin-bottom: 3vh;
    margin-left: 4vh;
}

.suggestion-head {
    margin-bottom: 1vh;
}

.suggestion-1-parent {
    background: #FFFFFF;
    max-height: 156px;
    /*border: 2px solid #424242;*/
    margin: 2vh 2vh 2vh 8vh;
    padding: 2vh;
    border-radius: 20px;
}

.wrapper{
    /*margin-left: 20%;*/
    /*margin-right: 20%;*/
    width: 100%;
}

.td-btn {
    width: 50vw;
    text-align: right;
}

.see-more {
    border: none;
    font-size: small;
    color: blue;
}


.dropdown-content a:hover {background-color: #ddd;}


.dropdown:hover .dropdown-content {display: block;}


.dropdown:hover .dropbtn {background-color: #414549;}

@media (max-width: 500px){
    .navbar-container input[type="checkbox"]:checked ~ .logo{
        display: none;
    }
}

footer
{
    width: 100%;
    height: 300px;
    background: grey;
    bottom: -300px;
    position: fixed;
    z-index: -1;
}