* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    padding: 0;
}

a{
    color: #000000;
}
a:hover{
    color: #ffffff;
}

hr{
    border: 1px solid #000000;
    
}
.style-bar {
    margin: 0;
    position: absolute;
    height: 20vh;
    width: 100%;
    bottom: 0;
    z-index: -1;
}


.sideBar {
    margin: 10px 10px 0px 5px;
    width: 15vw;
    background-color: #F5F4F4;
    height: 80vh;
    position: fixed;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    

}

#home-sideBar{
    margin-top: 30vh;
}
.sideBar .item {
    margin: 5px 5px 0px 5px;
        display: flex;
        align-items: center;
        justify-content: center; 
    height: 5vh;
    background-color: #E5E4EC;
    color: #000000;
    font-size: 1.2vw;
    font-weight: 550;
    cursor: pointer;
    border-radius: 10px;
    
}

.sideBar .item:hover {
    background-color: #807979;
    color: #ffffff;
}





.dash-cover {

    margin-top: 10vh;

    display: flex;
    border-radius: 10px;
    flex-wrap: row wrap;
    width: 99vw;
    height: 85vh;
    background-color: rgb(255, 255, 255);
}

.cover2{
    border: 1px solid #000000;
}
.side-1{
    display: flex;
    flex-direction: raw;
}
.side-2{
    display: flex;
    flex-direction: raw;
}
.content-fuel {
    
    border-radius: 10px;
    margin-top: 2vh;
    margin-left: 17vw;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    /* border: 1px solid #000000; */
    width: 80vw;
}


.dash-petroleum {

    border-radius: 3px;
    margin-top: 2vh;
    padding-left: 10px;
    width: 35vw;
    height: 45vh;

}

.dash-logo {
    display: flex;
    justify-content: center;

}

.dash-logo img {
    margin-top: 10px;
    width: 8vw;

}

.fuel-content p {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 1.2vw;
    font-weight: 500;
    color: #000000;
}

.link-pages {
    display: flex;
    justify-content: space-around;
}



.link-pages button {
    margin-top: 10px;
    margin-left: 50px;
    width: 12vw;
    height: 5vh;
    border-radius: 10px;
    border: none;
    background-color: #F97A7A;
    color: rgb(0, 0, 0);
    font-size: 1.1vw;
    font-weight: 500;
    cursor: pointer;

}


.QR {
    
    margin-top: 10px;
    margin-left: 10vw;

    display: flex;
    padding: 20px;
    flex-direction: column;
    font-weight: 600;
    height: 45vh;

}

 .QR img {
    margin-top: 10px 0px 0px 10px;
    width: 15vw;
    height: 15vw;

}

.QR a {
    flex-direction: flex-end;
    ;
    color: #000000;
}


.vision{
    border-radius: 10px;
    width: 80vw;
    padding: 10px;
}
.vision h1{
    margin-top: 20px;
    text-align: center;
    color: rgb(176, 7, 7);
}
.vision p{
    text-align: center;
    padding: 10px;
    font-weight: 1.2vw;
    font-size: 20px;
}

.vision img{
    height: 40vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contact{
    padding: 10px 10px 10px 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    margin: 5px 5px 5px 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(164, 165, 206);

}

.contact h3{
    margin: 5px 0px 5px 0px;
    font-size: 30px;
    color: rgb(176, 7, 7);
}
.contact p{
    margin: 5px 0px 5px 0px;
    font-size: 20px;
    
}

