body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    max-width: 45vw;
    height: 100%;
}

.profile-component__main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 80%;
    width: 100%;

}

.user-profile__main{
    order: 1;
    width: 40%;
    height: 100%;
    overflow: hidden;
}

.user-profile__sub {
    order: 2;
    width: 50%;
    height: 100%;
}

.user-profile__top {
    height: 80%;
}

.user-profile__bottom {
    height: 17%;
}

.button-70 {
    background-image: linear-gradient(#0dccea, #0d70ea);
    border: 0;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: Montserrat,sans-serif;
    font-size: .9em;
    margin: 5px;
    padding: 10px 15px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

@media screen and (max-width: 640px) {
    .checkbox-wrapper-4 .cbx {
        width: 100%;
        display: inline-block;
    }
}

@-moz-keyframes wave-4 {
    50% {
        transform: scale(0.9);
    }
}

@-webkit-keyframes wave-4 {
    50% {
        transform: scale(0.9);
    }
}
@-o-keyframes wave-4 {
    50% {
        transform: scale(0.9);
    }
}

@keyframes wave-4 {
    50% {
        transform: scale(0.9);
    }
}

.button-row {
    margin-top: 1vw;
    margin-bottom: 1vw;
}

#preview {
    margin-left: 8vw;
    margin-right: 8vw;
    margin-bottom: 5px;
    width: 18vw;
    height: 30vh;
    border: 2px solid rgb(76, 154, 255);
    border-radius: 50%;
}

.image-canvas {
    margin-left: 8vw;
    margin-right: 8vw;
    margin-bottom: 5px;
    width: 18vw;
    height: 30vh;
    border: 2px solid rgb(76, 154, 255);
    border-radius: 50%;
    object-fit: cover;
    background-color: #f0f0f0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.image-profile {
    border: 2px solid rgb(76, 154, 255);
    border-radius: 50%;
    object-fit: cover;
    background-color: #f0f0f0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#saveButton {
    display: none;
}

#editButton {
    display: inline-block;
}

#user-profile {
    height: 100%;
    margin: 0 auto;
}

#user-profile  > label {
    display: none;
    top: 0;
    transition: 0.2s;
    font-size: 1rem;
    color: grey;
}

#user-profile input {
    display: inline-block;
    width: calc(100% - 10px);
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

#user-profile input[type="file"] {
    color: transparent;
    display: none;
    outline: none;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 0.25rem;
    font-size: 13px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 0 27vw;
}

#user-profile input .form-label {
    background-color: rgb(250, 251, 252);
    border-color: rgb(223, 225, 230);
    color: rgb(9, 30, 66);
    cursor: text;
    border-radius: 3px;
    border-width: 2px;
    border-style: solid;
    box-sizing: border-box;
    font-size: 14px;
    transition: background-color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s;
    line-height: 1.42857;
    padding: 8px 6px;
    height: 36px;
}

#user-profile input .form-label:hover{
    background-color: rgb(235, 236, 240);
}
#user-profile input .form-label:focus{
    background-color: rgb(255, 255, 255);
    border-color: rgb(76, 154, 255);
}

#prof-id{
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

#prof-id.hidden {
    animation: fadeOut 2s ease-in-out forwards;
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

table {
    width: 100%;
    table-layout: fixed;
}

.tbl-header{
    background-color: rgb(97, 175, 255);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding-bottom: 10px;
    padding-top: 5px;
    height: 15%;
}

.tbl-content{
    height: 85%;
    overflow-x:auto;
    margin-top: 0;
    border: 1px solid rgba(255,255,255,0.3);
}

th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
}

td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    color: rgb(97, 175, 255);
}

.forminput input:focus {
    outline: 0;
}

.forminput.success label {
    color: #09c372;
}

.forminput.error label{
    color: #ff3860;
}

.forminput .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}

.toastify {
    padding: 25px 30px;
    font-size: 16px;
    text-align: right;
    border-radius: 5px;
    position: fixed;
    margin-top: 12vh;
    right: 20px;
    z-index: 999;
}

.toast-close {
    margin-right: 10px;
    border: none;
    color: #166f48;
    background-color: transparent;
}

.toastify.on { opacity: 1; }

.toast-error {
    color: white;
}
