body {
   background: #e1ecf2;
   height: 100vh;
   /* position: fixed; */
}



.wrapper .content-middle .notifications {
   margin-top: 80px;
   margin-left: 500px;
   background: #e3e4e5;
   border-radius: 18.41px;
   font: 500 12px "Roboto", sans-serif;
   padding: 15.46px;
   width: 275px;
   height: 360px;
   /* position: absolute; */
   left: 1065px;
   top: 60px;
   overflow: hidden;
}

.wrapper.wrapper.collapse .content-middle .notifications{
   margin-left: 38%;
}



.servicetitle {
   color: #2a2d30;
   text-align: center;
   font: 500 12px "Roboto", sans-serif;
   position: relative;
}

.buttons {
   display: flex;
   flex-direction: column;
   top: 10px;
   gap: 30px;
   align-items: center;
   justify-content: center;
   flex-shrink: 0;
   position: relative;
}

.buttons button {
   border: 0;
   background: #B9EEFF;
   color: #1a1919;
   width: 220px;
   font: 500 12px "Roboto", sans-serif;
   padding: 15px;
   font-size: 12px;
   border-radius: 40px;
   cursor: pointer;
   box-shadow: 0 0 10px rgba(205, 202, 202, 0.25);

}

.buttons button:hover {
   background: #0187b3;
   cursor: pointer;
}

.buttons button2 {
   border: 0;
   background: #010443;
   color: #f8f7f7;
   width: 320px;
   font: 500 16px "Roboto", sans-serif;
   padding: 18px;
   font-size: 15px;
   border-radius: 40px;
   cursor: pointer;
   box-shadow: 0 0 10px rgba(205, 202, 202, 0.25);

}


.wrapper .content-middle .select-services {
   margin-top: 100px;
   background: #e3e4e5;
   border-radius: 18.41px;
   padding: 32px;
   width: 265px;
   height: 360px;
   position: absolute;
   left: 750px;
   top: 60px;
   overflow: hidden;
}


/* .left-sidebar {
   background: #e3e4e5;
   border-radius: 17.54px;
   padding: 28.06px;
   width: 310px;
   height: 799px;
   position: absolute;
   left: 10px;
   top: 6px;
   overflow: hidden;
} */


/* .introduction {
   display: flex;
   margin-top: 60px;
   flex-direction: column;
   gap: 25px;
   align-items: center;
   justify-content: flex-start;
   position: absolute;
   left: 406px;
   top: 5px;
} */

.wrapper .content-middle .introduction{
   width: calc(100% - 900px);
   max-width: 400px;
   height: 360px;
   margin-top: 0px;
   margin-left: 220px;
   padding: 20px;
   transition: all 0.3s ease;
}

.wrapper.collapse .intro {
   width: calc(100% - 70px);
   margin-left: 70px;
}

.national-water-supply-and-drainage-board {
   color: #2a2d30;
   text-align: center;
   top: 45px;
   font: 750 16px 'Roboto', sans-serif;
   /* position: relative; */
}

.water-logo {
   flex-shrink: 0;
   top: 45px;
   width: 224px;
   height: 196px;
   position: relative;
}

.text {
   color: #000000;
   text-align: justified;
   top: 45px;
   font: 400 12px 'Roboto', sans-serif;
   position: relative;
   width: 322px;
   height: 108px;
}

/*------------------------------------------USAGE-----------------------------------------*/
.wrapper .content-middle .usage {
   margin-top: 500px;
   margin-left: -400px;
   background: #e3e4e5;
   border-radius: 23.93px;
   padding: 12.09px;
   width: 375px;
   height: 275px;
   /* position: absolute; */
   left: 400px;
   top: 434px;
   overflow: hidden;
}

.usagetitle {
   color: #2a2d30;
   text-align: center;
   font: 500 11px "Roboto", sans-serif;
   position: relative;
}

.dropdown {
   position: relative;
   display: inline-block;
   font: 400 11px 'Roboto', sans-serif;

   margin-right: 20px;
}

.dropdown select {
   width: 100px;
   font: 400 11px 'Roboto', sans-serif;
   border: 2px solid #000000;
   border-radius: 12px;
}

.dropdown select:focus {
   outline: none;
   border-color: #043364;

}

/*-----------------------------------------------------------------------------*/


.wrapper .content-middle .suggestions {
   margin-top: 150px;
   margin-left: 10px;
   background: #e3e4e5;
   border-radius: 23.93px;
   padding: 38.29px;
   width: 630px;
   height: 270px;
   position: absolute;
   left: 750px;
   top: 434px;
   overflow: hidden;
}

.wrapper.wrapper.collapse .content-middle .suggestions{
   margin-left: 4%;
}



.content-suggesions {
   display: flex;
   flex-direction: column;
   gap: 10px;
   align-items: flex-start;
   justify-content: flex-start;
   position: absolute;
   left: 32px;
   top: 18px;
}

.suggestion-text {
   color: #2a2d30;
   text-align: center;
   font: 500 12px 'Roboto', sans-serif;
   position: relative;
}

.suggesion {
   background: #ffffff;
   border-radius: 15px;
   padding: 10px;
   display: flex;
   flex-direction: row;
   gap: 10px;
   align-items: center;
   justify-content: flex-start;
   flex-shrink: 0;
   width: fit-content;
   position: relative;
}

.text-1 {
   color: #000000;
   text-align: left;
   position: relative;
   width: 380 px;
}

.text-1-span {
   color: #000000;
   font: 500 11.5px 'Roboto', sans-serif;
}

.text-1-span2 {
   color: #000000;
   font: 400 11.5px 'Roboto', sans-serif;

}



.wrapper .content-middle .call-button {
   background: #b0fea3;
   border-radius: 15px;
   padding: 10px;
   display: flex;
   flex-direction: row;
   gap: 10px;
   align-items: center;
   justify-content: center;
   position: absolute;
   left: 1200px;
   top: 100px;
}

.hotline-1939 {
   color: #000000;
   text-align: center;
   font: 400 18.89px 'Roboto', sans-serif;
   position: relative;
}

.image-profile {
   border: 2px solid rgb(76, 154, 255);
   border-radius: 50%;
   object-fit: cover;
   background-color: #f0f0f0;
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
}