.GetNotification-box {
    padding: 10px;
    margin-top: 120px;
    border-radius: 8px;
    font-family: Arial, sans-serif;

}

.GetNotification-box table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-top:15px;
    font-size: 13px;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

}

.GetNotification-box th {
    background-color: #030052;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    letter-spacing: 1px;
    border-bottom: 1px solid #ccc;
}

.GetNotification-box .electricityth{
    background-color: #a0a000;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    letter-spacing: 1px;
    border-bottom: 1px solid #ccc;
}


.GetNotification-box td{
    background-color: #fff;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.GetNotification-box tbody tr:hover td {
    background-color: #fcffc1b3;
}

.GetNotification-box tbody tr:nth-child(even) td {
    background-color: #dedede;
}

.GetNotification-box tbody tr:nth-child(even):hover td {
    background-color: #faf9de;
}