:root{
    --primary-color: #100f0f;
    --secondary-color: #787575;
    --tertiary-color: #fff;
    --water-color: #023e8a;
    --water-color2: #012A4A;
    --electricity-color: #c7ba03;
    --electricity-color2: #8c7400;
    --electricity-color3: #8c7400;
    --warning-color: #ffff00;
    --info-color: #00ffff;
    --border-radius: 10px;
    --box-shadow: 0 0 02px rgba(0,0,0,0.9);
}

button {
    border: 0;
    background: var(--water-color2);
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: #F6F9FE;
    font-size: 12px;
    margin-left: 50px;
    margin-top: 10px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.buttons button:hover {
    background: var(--water-color);
    cursor: pointer;
    color: lavender;
}

.popup-container .form-button button:hover {
    background: var(--water-color);
    cursor: pointer;
    color: lavender;
}


.details{
    margin-top: 3vh;
    position: relative;
    display: grid;
    /*grid-template-columns: 2fr 1fr;*/
    grid-gap: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100%- 40px);
}

.btn {
    position: relative;
    padding: 5px 10px;
    background-color: var(--water-color2);
    text-decoration: none;
    color: var(--tertiary-color);
    border-radius: 6px;
}

.profile-icon {
    text-decoration: none;
    color: #333;
    font-size: 36px;
}

.profile-icon:hover {
    color: var(--water-color2);
}

.complaints{
    position: relative;
    display: grid;
    margin: 20px;
}

 .tablediv .customerdetails{
    position: relative;
    display: grid;
    max-height: 500px;
    background-color: var(--tertiary-color);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    padding: 20px;
}
 .tablediv .customerdetails .table-container{
    position: relative;
    display: block;
    overflow-y: scroll;
    height: 100%;
}

 .tablediv .customerdetails .titlebar{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 12px;
}

 .tablediv .customerdetails .titlebar .h2{
    font-weight: 600;
    color: var(--secondary-color);
}

 .tablediv .customerdetails .titlebar .btn{
    position: relative;
    padding: 5px 10px;
    background-color: var(--water-color2);
    text-decoration: none;
    color: var(--tertiary-color);
    border-radius: 6px;
}

.tablediv .customerdetails .titlebar .btn:hover{
    background-color: var(--water-color);
}

.tablediv .customerdetails .table-container .table{
    display: table;
    border-collapse: collapse;
    margin-bottom: 10px;
    padding-bottom: 20px;
    width: 100%;
    overflow-y: scroll;
}

.tablediv .customerdetails .table td{
    color: var(--primary-color);
    border-bottom: 1px solid var(--secondary-color);
    padding: 10px 0;
}

.customerdetails .table thead{
    background-color: #012A4A;
}

.table thead th{
    color: var(--tertiary-color);
    padding: 10px 0;
}

.table tbody tr:hover{
    background-color: var(--secondary-color);
}

.table tr td{
    text-align: center;
}

.tablebtn{
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}


@media(max-width: 768px){
    .details{
        grid-template-columns: 1fr;
        margin-left: 5px;
        margin-right: 5px;
    }
    .table{
        font-size: 12px;
    }

    .details .tablediv .customerdetails{
        padding: 10px;
    }
    .details .tablediv .customerdetails .titlebar .h2{
        font-weight: 300;
    }
    
    .details .tablediv .customerdetails .titlebar .btn{
        position: relative;
        padding: 5px 5px;
        font-size: 10px;
    }
}