*{
    font-family: sans-serif, Arial, Helvetica;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #100f0f;
    --secondary-color: #787575;
    --tertiary-color: #fff;
    --electricity-color: #e2d412;
    --electricity-color2: #b2ad0f;
    --electricity-color3: #f5fbbe;
    --warning-color: #ffff00;
    --info-color: #00ffff;
    --border-radius: 10px;
    --box-shadow: 0 0 02px rgba(0,0,0,0.9);
}

.body{
    background-color:var(--tertiary-color);
    font-family: 'Roboto', sans-serif;
  }


  /* Top bar*/
 .topbar {
    margin-right:15px;
    display: flex;
    margin-left: 15px;
    margin-top: 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    background-color: var(--tertiary-color);
    justify-content: space-between;
    padding: 12px;
    color: var(--primary-color);
    border-radius: 10px;
}

 .topbar .lefttop{
    align-self:left;
}

canvas {
    max-width: 100%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    margin-top: 12px;
}

.home .details .connection-analyse{
    box-shadow: var(--box-shadow);
    background-color: var(--tertiary-color);
    border-radius: 10px;
    max-height: 500px;
    padding: 20px;
}

.home .details .connection-analyse .details-chart{
    margin-top: 20px;
    font-size: 12px;
    padding-left: 50px;
}

.details{
    margin-top: 3vh;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.complaints{
    position: relative;
    display: grid;
    margin: 20px;
}

 .tablediv .customerdetails{
    position: relative;
    display: grid;
    max-height: 500px;
    background-color: var(--tertiary-color);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    padding: 20px;
}
 .tablediv .customerdetails .table-container{
    position: relative;
    display: block;
    overflow-y: scroll;
    height: 100%;
}

 .tablediv .customerdetails .titlebar{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 12px;
}

 .tablediv .customerdetails .titlebar .h2{
    font-weight: 600;
    color: var(--secondary-color);
}

 .btn{
    position: relative;
    padding: 5px 10px;
    background-color: var(--electricity-color2);
    text-decoration: none;
    color: var(--tertiary-color);
    border-radius: 6px;
}

.tablediv .customerdetails .titlebar .btn:hover{
    background-color: var(--electricity-color);
}

.tablediv .customerdetails .table-container .table{
    display: table;
    border-collapse: collapse;
    margin-bottom: 10px;
    padding-bottom: 20px;
    width: 100%;
    overflow-y: scroll;
}

.tablediv .customerdetails .table td{
    color: var(--primary-color);
    border-bottom: 1px solid var(--secondary-color);
    padding: 10px 0;
}

.customerdetails .table thead{
    background-color: var(--electricity-color2);
}

.table thead th{
    color: var(--tertiary-color);
    padding: 10px 0;
}

.table tbody tr:hover{
    background-color: var(--electricity-color3);
}

.table tr td{
    text-align: center;
}

.tablebtn{
    display: inline-block;
    padding: 8px 10px;
    background-color: var(--electricity-color2);
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
/* ======================= Cards ====================== */
.cardBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
  }

  .cardBox .card {
    position: relative;
    background: var(--tertiary-color);
    padding: 30px;
    height: 150px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    text-decoration: none;

  }
  .cardBox .card .infor{
    align-self: center;
  }

  .cardBox .card .numbers {
    position: relative;
    font-weight: 500;
    font-size: 2.5rem;
    color: var(--primary-color);
  }

  .cardBox .card .cardName {
    color: var(--primary-color);
    font-size: 1.1rem;
    margin-top: 5px;
    text-decoration: none;
  }

  .cardBox .card .iconBx {
    font-size: 3.5rem;
    color: var(--electricity-color2);
    align-self: center;
  }

  .cardBox .card:hover {
    background: var(--electricity-color);
  }
  .cardBox .card:hover .numbers,
  .cardBox .card:hover .cardName,
  .cardBox .card:hover .iconBx {
    color: var(--tertiary-color);
  }


/* ====================== Responsive Design ========================== */
@media (max-width: 1200px) {
    .cardBox {
      grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px){
    .cardBox {
      grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 610px) {
    .cardBox {

      grid-template-columns: repeat(2, 1fr);
      justify-content: space-between;
    }
    .cardBox .card {
      padding: 10px;
      height: 100%;
      border-radius: 10px;
      justify-content: space-between;
    }
    .cardBox .card .numbers {
      position: relative;
      font-weight: 500;
      font-size: 1rem;
      color: var(--primary-color);
    }

    .cardBox .card .cardName {
      font-size: 0.8rem;
      margin-top: 3px;
    }

    .cardBox .card .iconBx {
      margin-left: 10px;
      font-size: 2rem;
    }
}

@media(max-width: 768px){
    .details{
        grid-template-columns: 1fr;
        margin-left: 5px;
        margin-right: 5px;
    }
    .table{
        font-size: 12px;
    }

    .details .tablediv .customerdetails{
        padding: 10px;
    }
    .details .tablediv .customerdetails .titlebar .h2{
        font-weight: 300;
    }

    .details .tablediv .customerdetails .titlebar .btn{
        position: relative;
        padding: 5px 5px;
        font-size: 10px;
    }
}