:root{
    --primary-color: #100f0f;
    --secondary-color: #929292;
    --tertiary-color: #fff;
    --water-color: #023e8a;
    --water-color2: #012A4A;
    --electricity-color: #c7ba03;
    --electricity-color2: #8c7400;
    --electricity-color3: #8c7400;
    --warning-color: #ffff00;
    --info-color: #00ffff;
    --approved-color1: #034203;
    --approved-color2: #017f01;
    --reject-color1: #8c0000;
    --reject-color2: #e30000;
    --border-radius: 10px;
    --box-shadow: 0 0 01px rgba(0,0,0,0.9);
}

.analysis-details {
    gap: 20px;
    
    /* margin-top: 20px; */
    /* padding: 0 20px; */
  }
  
  .analysis-details .graph-content {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin: 10px;
      border-radius: 10px;
      /* width: 50%; */
      /* max-width: 350px; */
  }
  
  .analysis-details .Regional-admin-analysis
  ,.analysis-details .New-connection-analysis
  {
      position: relative;
      display: grid;
      align-items: center;
      grid-gap: 10px;
      margin: 10px;
      border-radius: 10px;
      padding: 10px;
      box-shadow: 0 0 01px rgba(0,0,0,0.9);
  }
  
  .analysis-details .graph-content .New-connection-analysis h2{
    margin-bottom: 0;
  }
  
  
  .view-btn {
    position: relative;
    padding: 8px 10px;
    background-color: var(--primary-color);
    text-decoration: none;
    color: var(--tertiary-color);
    border-radius: 6px;
  }

  @media(max-width: 680px){
    .analysis-details .graph-content {
      display: grid;
      grid-template-columns: 1fr;
    }
  
  }