:root{
    --primary-color: #100f0f;
    --secondary-color: #929292;
    --tertiary-color: #fff;
    --water-color: #023e8a;
    --water-color2: #012A4A;
    --electricity-color: #c7ba03;
    --electricity-color2: #8c7400;
    --electricity-color3: #8c7400;
    --warning-color: #ffff00;
    --info-color: #00ffff;
    --approved-color1: #034203;
    --approved-color2: #017f01;
    --reject-color1: #8c0000;
    --reject-color2: #e30000;
    --border-radius: 10px;
    --box-shadow: 0 0 01px rgba(0,0,0,0.9);
}


.tables-dashboard
, .analysis-details
{
    position: relative;
    display: grid;
    grid-gap: 10px;
    margin-left: 20px;
    margin-right: 20px;
    font: 1em sans-serif;
}

.Details-table{
    position: relative;
    display: grid;
    margin: 20px;
    /* background-color: palegreen; */
    border-radius: 10px;
    padding: 10px;
    box-shadow: var(--box-shadow);
}

.Details-table .tablediv{
    position: relative;
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    /* background-color: #00ffff; */
}

 .Details-table .tablediv .table{
    position: relative;
    display: grid;
    max-height: 500px;
    background-color: var(--tertiary-color);
    /* border-radius: 15px; */
    box-shadow: var(--box-shadow);
    padding: 200px;
}
 .Details-table .tablediv .table{
    position: relative;
    display: block;
    overflow-y: scroll;
    height: 100%;
}

 .Details-table .titlebar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

 .Details-table .titlebar .h2
 , .Regional-admin-analysis .h2
 {
    font-weight: 600;
    color: var(--secondary-color);
}

 .Details-table .titlebar .btn{
    position: relative;
    padding: 5px 10px;
    background-color: var(--water-color2);
    text-decoration: none;
    color: var(--tertiary-color);
    border-radius: 6px;
}

.Details-table .titlebar .electricitybtn{
    background-color: var(--electricity-color2);
}

.Details-table .electricitybtn:hover{
    background-color: var(--electricity-color);
}


.Details-table .tablediv .table{
    display: table;
    border-collapse: collapse;
    margin-bottom: 10px;
    padding-bottom: 20px;
    width: 100%;
    overflow-y: scroll;
}

.Details-table .tablediv .table td{
    color: var(--primary-color);
    border-bottom: 1px solid rgba(131, 125, 125, 0.5);
    padding: 10px 0;
}

.Details-table .tablediv .table thead{
    background-color: #012A4A;
}

.Details-table .tablediv .table .electricitythead{
    background-color: var(--electricity-color);
}


.Details-table .tablediv .table thead:first-child{
    justify-items: center;
}

.Details-table .tablediv .table thead th{
    color: var(--tertiary-color);
    padding: 10px 0;
}

.Details-table .tablediv .table tr:hover{
    background-color: var(--secondary-color);
}

.Details-table .tablediv .table tr td{
    text-align: center;
}

.Details-table .tablediv .table .view-btn{
    display: inline-block;
    padding: 5px 10px;
    border-radius: 6px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}
.Details-table .tablediv .table .approve-btn{
    display: inline-block;
    padding: 5px 10px;
    border-radius: 6px;
    background-color: var(--approved-color1);
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.Details-table .tablediv .table .approve-btn:hover{
    background-color: var(--approved-color2);
}

.Details-table .tablediv .table .reject-btn{
    display: inline-block;
    padding: 5px 10px;
    border-radius: 6px;
    background-color: var(--reject-color1);
    color: #fff;
    text-decoration: none;
    border: none;
    margin-left: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.Details-table .tablediv .table .reject-btn:hover{
    background-color: var(--reject-color2);
}

.Details-table .tablediv .table .delete-btn{
    display: inline-block;
    padding: 5px 10px;
    border-radius: 6px;
    background-color: var(--reject-color1);
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.Details-table .tablediv .table .delete-btn:hover{
    background-color: var(--reject-color2);
}


@media(max-width: 680px){
    .home{
        grid-template-columns: 1fr;
        margin-left: 0px;
        margin-right: 5px;
    }
    .Details-table{
        font-size: 11px;
        border-radius: 5px;
        margin: 0px;
    }

    .Details-table .tablediv{
        padding: 0;
    }
    .Details-table .tablediv .table{
        padding: 10px;
        /* background-color: #00ffff; */
    }
    .Details-table .titlebar .h2
    , .Regional-admin-analysis h2
    {
        font-weight: 300;
        font-size: 20px;
    }
    
    .Details-table .titlebar .btn{
        position: relative;
        padding: 7px 7px;
        font-size: 12px;
    }

    .Details-table .tablediv .table .approve-btn
    , .Details-table .tablediv .table .reject-btn
    , .Details-table .tablediv .table .view-btn
    , .Details-table .tablediv .table .delete-btn
    {
        position: relative;
        padding: 7px 7px;
        font-size: 10px;
        margin-left: 0px;
    }

}