@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    /* Colors */
    --color-white: #fff;
    --color-gray-100: #232020;
    --color-gray-200: #202020;
    --color-black: #000;

    --primary-color: #100f0f;
    --secondary-color: #787575;
    --tertiary-color: #fff;
    --water-color: #023e8a;
    --water-color2: #012A4A;
    --water-color4: #97b6fa;
    --electricity-color: #c7ba03;
    --electricity-color2: #8c7400;
    --electricity-color3: #feec98;
    --superadmin-color1: #B52F9C;
    --superadmin-color2: #a4037e;
}

body {
    background: #e1ecf2;
    height: 100vh;
    overflow: hidden;
}

.middle {
    height: 88vh;
    margin-top: 80px;
    background-color: rgb(249, 248, 248);
    padding: 20px;
    gap: 50px;
    border-radius: 50px;
    overflow: auto;
}

.madminmiddle{
    height: 88vh;
    margin-top: 80px;
    background-color: var(--tertiary-color) ;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
    overflow: auto;
    padding: 15px;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

button {
    border: 0;
    background: var(--water-color);
    color:#fff;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12px;
    margin-left: 50px;
    margin-top: 10px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.title {
    margin-left: 50px;
    margin-top: 25px;
    font-family: "Poppins", sans-serif;
}

button:hover {
    background: var(--water-color2);
    cursor: pointer;
    color: lavender;
}

.table {
    border-collapse: collapse;
    width: 100%;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 12px;
    text-align: left;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-top: 20px;
    margin-bottom: 0px;
}

.table th {
    background-color: var(--water-color2);
    color: #fff;
    font-weight: bold;
    padding: 10px;
    letter-spacing: 1px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ccc;
}

.table tr:nth-child(even) td {
    background-color: #f2f2f2;
}

.table tr:hover td {
    background-color: var(--water-color4);
}

.table td {
    background-color: #fff;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
}

.popup-form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 999;
}

.popup-container {
    background-color: var(--tertiary-color);
    border-radius: 10px;
    padding: 20px;
    max-width: 80%;
    width: 500px; /* Set desired width */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Shadow effect */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup-container h2 {
    text-align: center;
    margin-top: 0;
    font-size: 15px;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.popup-container form, .addregionscontainer form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 7px;
}

.popup-container label, .addregionscontainer label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.popup-container input[type="text"],
.popup-container input[type="email"],
.popup-container input[type="password"],
.popup-container select {
    width: calc(100% - 8px);
    padding: 1px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

.popup-container .form-button, .addregionscontainer .form-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 55%;
}

.popup-container .form-button button {
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.popup-container .form-button button:hover {
    background: var(--water-color);
    cursor: pointer;
    color: lavender;
}

.popup-container .form-button button:first-child {
    margin-right: 10px;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-input {
    border-radius: 10px;
    padding: 12px;
    background-color: var(--tertiary-color);
    font-size: 12px;
    width: 250px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.addregionscontainer{
    font-family:sans-serif;
    display: flex;
    text-align:center;
    justify-content: center;
}

.addregionscontainer .formdiv{
    width:58%;
    margin:40px;
    background-color:white;
    padding:20px;
    align-items:center;
    border-radius:10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.addregionscontainer input[type="text"] {
    width: calc(100% - 8px);
    padding: 1px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

.addregionscontainer .popup-title{
    margin-bottom:20px;
}