:root{
    --primary-color: #100f0f;
    --secondary-color: #787575;
    --tertiary-color: #fff;
    --electricity-color: #e2d412;
    --electricity-color2: #b2ad0f;
    --electricity-color3: #fbffdac4;
    --warning-color: #ffff00;
    --delete-color: #c00000;
    --delete-color2: #ff0000;
    --info-color: #00ffff;
    --border-radius: 10px;
    --box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.dashboard {
    display: flex;
    flex-wrap: wrap;
    transition: all 0.3s ease-in-out; 
}

.content {
    width: 100%;
    background-color: var(--tertiary-color);
    transition: background-color 0.3s ease-in-out; 
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    transition: all 0.3s ease-in-out; 
}

.stats, .product-stats, .product-stats1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.stats-box, .top-selling {
    flex: 1 1 calc(50% - 20px);
    margin: 10px;
    background-color: var(--electricity-color4);
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease-in-out;
}

.stats-box canvas {
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out; 
}

.stats-box h2, .iOTconnection h2, .stats-box1 h2 {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 20px;
    font-family: inherit;
}

.top-selling.stats-box1 {
    display: grid;
    grid-template-rows: auto auto;
    gap: 20px;
}

.usage-section, .iot-connection-section {
    padding: 20px;
}

.top-selling-products1, .iOTconnection1, .top-selling-products2 {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0%;

}

.top-selling-products1 th, .top-selling-products1 td, .top-selling-products2 th, .top-selling-products2 td {
    /* border: 0.5px solid var(--electricity-color2); */
    box-shadow: var(--box-shadow);
    padding: 8px;
    text-align: left;
    background-color: var(--tertiary-color);
    font-size: 14px; 
}

.top-selling-products1 th, .top-selling-products2 th {
    background-color: #e0e0e0;
}

.iOTconnection p{
    margin-top: 0;
    margin-bottom: 8px;
    font-size:15px;
}

button[name="goto-devicepage"] {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: var(--electricity-color2);
    color: var(--tertiary-color);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease-in-out; 
    border:none;
}

button[name="goto-devicepage"]:hover {
    background-color: var(--electricity-color);
    color: var(--primary-color);
    transform: scale(1.01);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.stats .stats-box .billcalculation{
    display: block;
    flex-wrap: wrap;
    gap: 20px;
}

.budget{
    margin-top: 0;
    box-shadow: none;
}

.budget h2{
    font-size: 20px;
    margin-bottom: 15px;
}

.stats .stats-box .billcalculation label, .stats .stats-box .billcalculation p{
    font-size: 15px;
    margin-bottom: auto;
}

.stats .stats-box .billcalculation input, .stats .stats-box .billcalculation select{
    padding: 8px 12px;
    /* border: 1px solid #ccc; */
    border-radius: 4px;
    font-size: 12px;
    width: 150px;
    box-sizing: border-box;
    /* background: none; */
    border: none;
    border-bottom: 1px solid #ccc;
    color: var(--primary-color);
}


.stats .stats-box .billcalculation .a_row{
    display: flex;
    flex-direction:row;
    gap: 10px;
    margin-bottom:12px ;
    align-items: baseline;
}

.stats .stats-box .billcalculation .btn-a_row{
    display: flex;
    flex-direction:row;
    gap: 10px;
    margin-bottom:10px ;
    align-items: baseline;
    justify-content: center;
}

.stats .stats-box .billcalculation button{
    padding: 10px 20px;
    background-color: var(--electricity-color2);
    color: var(--tertiary-color);
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 12px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease-in-out; 
    border:none;
}

.stats .stats-box .billcalculation button:hover {
    background-color: var(--electricity-color);
    color: var(--primary-color);
    transform: scale(1.01);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.stats .stats-box .billcalculation a{
    text-decoration: none;
    color: var(--electricity-color2);
    font-size: 15px;
    margin-bottom: auto;
}

.top-selling-products1, .top-selling-products2 {
    width: 100%;
    border-collapse: collapse;
    background-color: #00ffff;
}

@media screen and (max-width: 500px) {
    .stats-box, .top-selling {
        flex: 1 1 100%;
    }
}