:root{
    --primary-color: #100f0f;
    --secondary-color: #787575;
    --tertiary-color: #fff;
    --electricity-color: #e2d412;
    --electricity-color2: #b2ad0f;
    --electricity-color3: #fbffdac4;
    --electricity-color4: #f5f6fa;
    --warning-color: #ffff00;
    --delete-color: #c00000;
    --delete-color2: #ff0000;
    --info-color: #00ffff;
    --border-radius: 10px;
    --box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.dashboard {
    display: flex;
    flex-wrap: wrap;
    transition: all 0.3s ease-in-out; 
    margin-top: 85px;
}

.content {
    width: 100%;
    background-color: var(--tertiary-color);
    transition: background-color 0.3s ease-in-out; 
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    transition: all 0.3s ease-in-out; 
}

.stats, .product-stats, .product-stats1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.stats-box, .top-selling {
    flex: 1 1 calc(50% - 20px);
    margin: 10px;
    background-color: var(--electricity-color4);
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease-in-out;
}

.stats-box canvas {
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out; 
}

.stats-box h2, .iOTconnection h2, .stats-box1 h2 {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 20px;
    font-family: inherit;
}

.top-selling.stats-box1 {
    display: grid;
    grid-template-rows: auto auto;
    gap: 20px;
}

.usage-section, .iot-connection-section {
    padding: 20px;
}

.top-selling-products1, .iOTconnection1, .top-selling-products2 {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0%;

}

.top-selling-products1 th, .top-selling-products1 td, .top-selling-products2 th, .top-selling-products2 td {
    /* border: 0.5px solid var(--electricity-color2); */
    box-shadow: var(--box-shadow);
    padding: 8px;
    text-align: left;
    background-color: var(--tertiary-color);
    font-size: 14px; 
}

.top-selling-products1 th, .top-selling-products2 th {
    background-color: #e0e0e0;
}

.iOTconnection p{
    margin-top: 0;
    margin-bottom: 8px;
    font-size:15px;
}

button[name="goto-devicepage"] {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: var(--electricity-color2);
    color: var(--tertiary-color);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease-in-out; 
    border:none;
}

button[name="goto-devicepage"]:hover {
    background-color: var(--electricity-color);
    color: var(--primary-color);
    transform: scale(1.01);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.stats .stats-box .billcalculation{
    display: block;
    flex-wrap: wrap;
    gap: 20px;
}

.budget{
    margin-top: 0;
    box-shadow: none;
}

.budget h2{
    font-size: 20px;
    margin-bottom: 15px;
}

.stats .stats-box .billcalculation label, .stats .stats-box .billcalculation p{
    font-size: 15px;
    margin-bottom: auto;
}

.stats .stats-box .billcalculation input, .stats .stats-box .billcalculation select{
    padding: 8px 12px;
    /* border: 1px solid #ccc; */
    border-radius: 4px;
    font-size: 12px;
    width: 150px;
    box-sizing: border-box;
    /* background: none; */
    border: none;
    border-bottom: 1px solid #ccc;
    color: var(--primary-color);
}


.stats .stats-box .billcalculation .a_row{
    display: flex;
    flex-direction:row;
    gap: 10px;
    margin-bottom:12px ;
    align-items: baseline;
}

.stats .stats-box .billcalculation .btn-a_row{
    display: flex;
    flex-direction:row;
    gap: 10px;
    margin-bottom:10px ;
    align-items: baseline;
    justify-content: center;
}

.stats .stats-box .billcalculation button{
    padding: 10px 20px;
    background-color: var(--electricity-color2);
    color: var(--tertiary-color);
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 12px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease-in-out; 
    border:none;
}

.stats .stats-box .billcalculation button:hover {
    background-color: var(--electricity-color);
    color: var(--primary-color);
    transform: scale(1.01);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.stats .stats-box .billcalculation a{
    text-decoration: none;
    color: var(--electricity-color2);
    font-size: 15px;
    margin-bottom: auto;
}

.top-selling-products1, .top-selling-products2 {
    width: 100%;
    border-collapse: collapse;
    background-color: #00ffff;
}

@media screen and (max-width: 500px) {
    .stats-box, .top-selling {
        flex: 1 1 100%;
    }
}

.search {
    background: #EDEDED;
    padding: 5vh;
    margin-top: 3vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 8px;
    margin-right: 8px;
}

.select-heading {
    margin: 16px;
}

.select-box {
    display: flex;
    width: 400px;
    flex-direction: column;
    position: relative;
}

.select-box .options-container {
    background: #2f3640;
    color: #f5f6fa;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;

    order: 1;
}

.selected {
    background: #2f3640;
    border-radius: 8px;
    margin-bottom: 8px;
    color: #f5f6fa;
    position: relative;

    order: 0;
}

.selected::after {
    content: "";
    /*background: url("img/arrow-down.svg");*/
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    height: 100%;
    width: 32px;
    right: 10px;
    top: 5px;

    transition: all 0.4s;
}

.select-box .options-container.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
    margin-top: 54px;
}

.select-box .options-container.active + .selected::after {
    transform: rotateX(180deg);
    top: -6px;
}

.select-box .options-container::-webkit-scrollbar {
    width: 8px;
    background: #0d141f;
    border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
    background: #525861;
    border-radius: 0 8px 8px 0;
}

.select-box .option,
.selected {
    padding: 12px 24px;
    cursor: pointer;
}

.select-box .option:hover {
    background: #414b57;
}

.select-box label {
    cursor: pointer;
}

.select-box .option .radio {
    display: none;
}

.search-box input {
    width: 100%;
    position: absolute;
    font-size: 16px;
    padding: 12px 16px;
    border-radius: 8px 8px 0 0;
    z-index: 100;
    border: 8px solid #2f3640;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s;
}

.search-box input:focus {
    outline: none;
}

.select-box .options-container.active ~ .search-box input {
    opacity: 1;
    pointer-events: auto;

}

.heading {
    font-weight: 600;
    text-align: center;
    color: var(--electricity-color2);
    margin-bottom: 2rem;
}

.month {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--electricity-color3);
    margin-bottom: 1rem;
}

.calendar {
    margin: auto;
    width: 98%;
    max-width: 380px;
    padding: 1rem;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.calendar header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calendar nav {
    display: flex;
    align-items: center;
}

.calendar ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding-inline: 2vh;
}

.calendar ul li {
    width: calc(100% / 7);
    margin-top: 25px;
    position: relative;
    z-index: 2;
}

#prev,
#next {
    width: 20px;
    height: 20px;
    position: relative;
    border: none;
    background: transparent;
    cursor: pointer;
}

#prev::before,
#next::before {
    content: "";
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    border-color: #ccc;
}

#next::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

#prev::before {
    transform: translate(-50%, -50%) rotate(-135deg);
}

#prev:hover::before,
#next:hover::before {
    border-color: #000;
}

.days {
    font-weight: 600;
}

.dates li.today {
    color: #fff;
    cursor: pointer;
}

.dates li.today::before {
    content: "";
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--electricity-color2);
    border-radius: 50%;
    z-index: -1;
}

.dates li.breakdown::before {
    content: "";
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--delete-color2);
    border-radius: 50%;
    z-index: -1;
}

.dates li.breakdown {
    color: #fff;
    cursor: pointer;
}


.dates li.inactive {
    color: #ccc;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe; /* White background */
    margin: 15% auto; /* Center the modal vertically */
    padding: 20px;
    border: 1px solid #888; /* Gray border */
    width: 80%; /* Width of the modal */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0,0,0,0.3); /* Shadow for depth */
    font-family: Arial, sans-serif; /* Font family */
    font-size: 16px; /* Font size */
    color: #333; /* Text color */
}

#prev-budget,
#next-budget {
    width: 20px;
    height: 20px;
    position: relative;
    border: none;
    background: transparent;
    cursor: pointer;
}

#prev-budget::before,
#next-budget::before {
    content: "";
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    border-color: #ccc;
}

#next-budget::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

#prev-budget::before {
    transform: translate(-50%, -50%) rotate(-135deg);
}

#prev-budget:hover::before,
#next-budget:hover::before {
    border-color: #000;
}

.INACTIVE {
    color: red;
}

.navigation {
    position: fixed;
    width: 50px;
    height: 50px;
    background: #ffffff;
    transition: width 0.5s, height 0.5s;
    transition-delay: 0s, 0.75s;
    z-index: 100000;
    border-radius: 4px;
    overflow: hidden;
    bottom: 20px;
    right: 20px;
}

.navigation.active {
    width: 250px;
    height: 350px;
    transition: width 0.5s, height 0.5s;
    transition-delay: 0s, 0.75s;
}

.navigation .toggle-p {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: var(--electricity-color2);
    transition: 0.5s;
    cursor: pointer;
}

.navigation .toggle-p::before {
    content: "+";
    position: absolute;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: #ffffff;
    font-weight: 400;
    transition: 0.5s;
}

.navigation .toggle-p.active{
    background: rgb(76, 154, 255);
}

.navigation .toggle-p.active::before {
    transform: rotate(315deg);
}

.navigation ul {
    padding-left: 0;
    margin: 0;
    /*width: 100%;*/
    height: 100%;
    /*display: flex;*/
    /*flex-direction: column;*/
    padding-top: 100px;
    position: absolute;
    left: 0;
    width: 100%;
}


.navigation ul li {
    list-style: none;
    width: 100%;
    position: relative;
}

.navigation ul li a {
    display: flex;
    position: relative;
    width: 100%;
    text-decoration: none;
    color: #000;
}

#navigation ul li:hover {
    background: rgb(76, 154, 255);
}

#navigation ul li a .icon {
    position: relative;
    min-width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    padding-right: 20px;
    padding-left: 10px;
    padding-top: 12px;
}

#navigation ul li a .icon .fa{
    font-size: 24px;
    color: black;
}

#navigation ul li a .title-nav {
    position: relative;
    display: inline-block;
    line-height: 50px;
    text-align: start;
    white-space: nowrap;
}

#navigation ul li:hover a .icon .fa,
#navigation ul li:hover a .title-nav {
    color: #ebebeb;
}
