* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    /*background: linear-gradient(to right, #ffffff, #f1e9e7);*/
}

.container {
    width: 1200px;
    height: 90vh;
    display: flex;
    background-color: #ffffff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.5);
}

aside {
    background-color: #ffffff;
    flex-grow: 1;
    position: relative;
    width: 50%;
}

aside img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 70%;
    position: absolute;
    bottom: 0;
}

.side-panel__title {
    text-align: center;
}

.side-panel__main {
    font-size: 48px;
    margin-top: 80px;
    font-weight: bold;
    background: linear-gradient(to right, #0f3fe6, #121d80, #4d4d4d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.side-panel__sub {
    font-size: 20px;
    font-weight: lighter;
}

section {
    width: 50%;
    display: inline-block;
    position: relative;
    flex-grow: 1;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: 1px solid blue;*/
    margin-top: 80px;
}

.login-panel__main {
    font-size: 48px;
    font-weight: bold;
    background: linear-gradient(to right, #0f3fe6, #121d80, #4d4d4d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.login-panel__sub {
    font-size: 36px;
    font-weight: 500;
    padding: 10px;
    margin: 5px;
}

.login-field {
    margin-top: 30px;
    margin-bottom: 15px;
    color: #999;
    font-weight: normal;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

label, input {
    box-sizing: border-box;
}

input {
    width: 450px;
    height: 60px;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 38px;
}

input[type=text]:focus, input[type=password]:focus {
    outline: 0;
    box-shadow: inset 0 0 8px rgba(226, 239, 207, .7);
    font-size: 20px;
}

.login-btn {
    position: absolute;
    top: 480px;
    height: 55px;
    width: 340px;
    border: none;
    border-radius: 15px;
    background-color: #3260A9;
    font-weight: bold;
    font-size: 22px;
    padding: 10px;
    color: #E9F0FF;
    cursor:pointer;
}

.fgt-pwd {
    position: absolute;
    top: 405px;
    left: 400px;
    font-size: 14px;
    font-weight: lighter;
}

a {
    text-decoration: none;
    color: #F5F4F4;
}

.register {
    position: absolute;
    top: 550px;
    color: #0c0808;
}

.style-bar {
    position: absolute;
    height: 10vh;
    width: 100%;
    bottom: 0;
}
