
body {
    background: #e1ecf2;
    height: 100vh;
    overflow: hidden;
    /* position: fixed; */
}

#content-middle{
    height: 88vh;
}


.wrapper .content-middle .grid{
    display: grid;
    grid-template-columns: 500px 500px;
    grid-column: 50px;
    grid-gap: 20px;
}

.wrapper .content-middle .grid .grid-element {
    margin-left: 300px;
    margin-top: 20px;
    background-color: #eaf0f7;
    width: 500px;
    height: 250px;
    border-radius: 10%;
}







