body {
    background: #e1ecf2;
    height: 100vh;
    /* position: fixed; */
}

#content-middle {
    height: 120vh;
}

.wrapper .content-middle .box {
    width: calc(100% - 600px);
    height: 90%;
    margin-left: 20%;
    margin-top: 2%;
    gap: 10px;
}


.wrapper.collapse .content-middle .box{
    width: calc(80%-70px);
    margin-left: 350px;
}

.wrapper .content-middle .box .formbox {
    background: #f5f4f4;
    border-radius: 18.41px;
    padding: 30px 50px 50px 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    /* position: relative; */
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.section1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    /* position: relative; */
}

.form1 {
    display: flex;
    flex-direction: row;
    gap: 18px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    /* position: relative; */
}

.servicetitle {
    color: #000000;
    text-align: center;
    font: 500 16px "Roboto", sans-serif;
    /* position: relative; */
    font-weight: bold;
    align-self: center;
}

.textbox {
    display: flex;
    /* gap: 10px; */
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    /* position: relative; */
}

label {
    font-weight: bold;
    width: 120px;
}

input[type="text1"] {
    padding: 5px;
    height: 20px;
    width: 200px;
    border-radius: 12px;

}

input[type="text"] {
    padding: 5px;
    height: 30px;
    width: 500px;
    border-radius: 12px;

}

textarea {
    padding: 15px;
    /* height: 20px; */
    border-radius: 12px;
    width: 500px;
    max-width: 500px;
    border: 2px solid #000000;
}

input[type="tel"] {
    padding: 5px;
    height: 20px;
    width: 120px;
    border-radius: 12px;
}

input[type="date"] {
    padding: 5px;
    height: 20px;
    width: 100px;
    border-radius: 12px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 20px;
}

.dropdown select {
    width: 100px;
    padding: 2px;
    border: 2px solid #000000;
    border-radius: 12px;
}

.dropdown select:focus {
    outline: none;
    border-color: #007bff;

}

.formbox1 {
    background: #f5f4f4;
    border-radius: 18.41px;
    padding: 30px 50px 50px 30px;
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    /* position: relative; */
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.savecompbutn,
.compaintNumbtn {
    display: flex;
    flex-direction: row;
    gap: 200px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    /* position: relative; */
}

.savecompbutn button {
    border: 0;
    background: #006A8C;
    color: #f8f8f8;
    width: 150px;
    font-family: inherit;
    padding: 8px;
    font-size: 12px;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);

}

.compaintNumbtn button {
    border: 0;
    background: #72DDFF;
    color: #000000;
    width: 200px;
    font-family: inherit;
    padding: 8px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);

}

.savecompbutn button:hover {
    background: #092833;
    cursor: pointer;
}

.ComplaintNumbox {
    display: flex;
    flex-direction: row;
    gap: 18px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    /* position: relative; */
}

.ComplaintNumberbox input[type="text"] {
    padding: 5px;
    height: 30px;
    width: 100px;
    border-radius: 12px;

}

.ComplaintNumberbox {
    align-self: flex-end;
}