* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #e1ecf2;
    height: 100vh;
    /* position: fixed; */
}



.wrapper .content-middle .intro {
    width: calc(100% - 900px);
    max-width: 400px;
    height: 360px;
    margin-top: 0px;
    margin-left: 220px;
    padding: 20px;
    transition: all 0.3s ease;
}

.wrapper .content-middle .intro .item {
    background: #fff;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 14px;
    line-height: 22px;
}

.wrapper .intro p {
    text-align: justify;
}

.wrapper .intro img {
    justify-content: center;
    display: block;
    margin: 0 auto;
}

.wrapper .content-middle .about {
    width: calc(100% - 900px);
    max-width: 400px;
    height: 360px;
    border-radius: 10%;
    background-color: #b0bdcb;
    margin-top: 10px;
    margin-left: 50px;
    padding: 20px;
    transition: all 0.3s ease;
}

.wrapper .content-middle .contact-us {
    width: calc(100% - 900px);
    max-width: 400px;
    height: 360px;
    border-radius: 10%;
    background-color: #b0bdcb;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 10px;
    padding: 20px;
    transition: all 0.3s ease;
}

.wrapper .content-middle .hotline{
    height: 50px;
    padding: 5px;
    background-color: greenyellow;
    border-radius: 30%;
    align-content: center;
    
}
.wrapper .content-middle .hotline h2{
    margin-top: -35px;
}

.wrapper .content-middle .hotline img{
    width: 30px;
    height: 30px;
    margin-left: 20px;
    margin-top: 5px;
}

.wrapper .content-middle .contact-us .notification{
    background-color: white;
    height: 250px;
    border-radius: 10%;
    padding: 10px;
}
.wrapper .content-middle .contact-us .notification .powercut{
    background-color: rgb(221, 125, 125);
    height: 60px;
    text-align: justify;
    padding: 4px;
}
.wrapper .content-middle .contact-us .notification .powercut .b1{
    align-items: center;
}

.wrapper .content-middle .elec-usage{
    display: flex;
    max-width: 400px;
    border-radius: 10%;
    background-color: #b0bdcb;
    height: 380px;
    margin-top: 60px;
    margin-left: -870px;
    padding: 20px;
    transition: all 0.3s ease;
 
}

.drp-down-button{
    margin-top: 20px;
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.drp-down{
    position: relative;
    display: inline-block;
}

 .drp-down:hover .drp-list{
    display: block;
}

.drp-list{
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

.drp-list a{
    text-decoration: none;
    display: block;
}

 /* .drp-down .drp-list a:hover{
    display: block;
} */

.wrapper .content-middle .suggestions{
    display: flex;
    max-width: 840px;
    border-radius: 10%;
    background-color: #b0bdcb;
    height: 380px;
    margin-top: -380px;
    margin-left: -400px;
    padding: 20px;
    transition: all 0.3s ease;
}

.wrapper.collapse .intro {
    width: calc(100% - 70px);
    margin-left: 70px;
}







