* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #e1ecf2;
    height: 100vh;
    /* position: fixed; */
}

.wrapper {
    margin: 10px;
    height: auto;
}

.wrapper .top_navbar {
    width: calc(100% - 40px);
    margin-left: 15px;
    margin-right: 15px;
    height: 60px;
    display: flex;
    position: fixed;
    top: 10px;
}

.wrapper .top_navbar .hamburger {
    width: 70px;
    height: 100%;
    background: #F5F4F4;
    padding: 15px 17px;
    border-top-left-radius: 20px;
    cursor: pointer;
}

.wrapper .top_navbar .hamburger div {
    width: 35px;
    height: 4px;
    background: #92a6e2;
    margin: 5px 0;
    border-radius: 5px;
}

.wrapper .top_navbar .top_menu {
    width: calc(100% - 70px);
    height: 100%;
    background: #fff;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.wrapper .top_navbar .top_menu .logo {
    color: #2e4ead;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;
    margin-top: 20px;
}

.wrapper .top_navbar .top_menu ul {
    display: flex;
}

.wrapper .top_navbar .top_menu ul li a {
    display: block;
    margin: 0 10px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #414549;
}

.wrapper .top_navbar .top_menu ul li a:hover {
    background: #F5F4F4;
    color: #fff;
}

.wrapper .top_navbar .top_menu .item1{
    width: 30px;
    height: 30px;
    margin: 2px 100px 0px 2px;
}

.wrapper .top_navbar .top_menu .item2{
    width: 30px;
    height: 30px;
    margin: 2px 100px 100px 10px;
}

.wrapper .top_navbar .top_menu .item3{
    width: 30px;
    height: 30px;
    margin: 2px 100px 10px 2px;
}

.wrapper .content-middle {
    display: flex;
    margin-top: 80px;
    background-color: #fff; 
    height: calc(110vh);
}

.wrapper .content-middle .sidebar {
    position: fixed;
    margin-top: 40px;
    margin-bottom: px;
    top: 50px;
    left: 20px;
    bottom: 0;
    background: #F5F4F4;
    width: 200px;
    height: 85%;
    border-radius: 10px 10px 10px 20px;
    transition: all 0.3s ease;
    padding-top: 20px;
}

.wrapper .content-middle .sidebar ul li a {
    display: block;
    padding: 20px;
    position: relative;
    margin-bottom: 1px;
    color: #92a6e2;
    white-space: nowrap;
}

.wrapper .content-middle .sidebar ul li a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: #92a6e2;
    display: none;
}

.wrapper .content-middle .sidebar ul li a span.icon {
    margin-right: 10px;
    display: inline-block;
}

.wrapper .content-middle .sidebar ul li a span.title {
    display: inline-block;
}

.wrapper .content-middle .sidebar ul li a:hover,
.wrapper .content-middle .sidebar ul li a.active {
    background: #414549;
    color: #fff;
}

.wrapper .content-middle .sidebar ul li a:hover:before,
.wrapper .content-middle .sidebar ul li a.active:before {
    display: block;
}

.wrapper .content-middle .intro {
    width: calc(100% - 900px);
    max-width: 400px;
    height: 360px;
    margin-top: 0px;
    margin-left: 220px;
    padding: 20px;
    transition: all 0.3s ease;
}

.wrapper .content-middle .intro .item {
    background: #fff;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 14px;
    line-height: 22px;
}

.wrapper .intro p {
    text-align: justify;
}

.wrapper .intro img {
    justify-content: center;
    display: block;
    margin: 0 auto;
}

.wrapper .content-middle .about {
    width: calc(100% - 900px);
    max-width: 400px;
    height: 360px;
    border-radius: 10%;
    background-color: #b0bdcb;
    margin-top: 10px;
    margin-left: 50px;
    padding: 20px;
    transition: all 0.3s ease;
}

.wrapper .content-middle .contact-us {
    width: calc(100% - 900px);
    max-width: 400px;
    height: 360px;
    border-radius: 10%;
    background-color: #b0bdcb;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 10px;
    padding: 20px;
    transition: all 0.3s ease;
}

.wrapper .content-middle .hotline{
    height: 50px;
    padding: 5px;
    background-color: greenyellow;
    border-radius: 30%;
    align-content: center;
    
}
.wrapper .content-middle .hotline h2{
    margin-top: -35px;
}

.wrapper .content-middle .hotline img{
    width: 30px;
    height: 30px;
    margin-left: 20px;
    margin-top: 5px;
}

.wrapper .content-middle .contact-us .notification{
    background-color: white;
    height: 250px;
    border-radius: 10%;
    padding: 10px;
}
.wrapper .content-middle .contact-us .notification .powercut{
    background-color: rgb(221, 125, 125);
    height: 60px;
    text-align: justify;
    padding: 4px;
}
.wrapper .content-middle .contact-us .notification .powercut .b1{
    align-items: center;
}

.wrapper .content-middle .elec-usage{
    display: flex;
    max-width: 400px;
    border-radius: 10%;
    background-color: #b0bdcb;
    height: 380px;
    margin-top: 60px;
    margin-left: -870px;
    padding: 20px;
    transition: all 0.3s ease;
 
}

.drp-down-button{
    margin-top: 20px;
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.drp-down{
    position: relative;
    display: inline-block;
}

 .drp-down:hover .drp-list{
    display: block;
}

.drp-list{
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

.drp-list a{
    text-decoration: none;
    display: block;
}

 /* .drp-down .drp-list a:hover{
    display: block;
} */

.wrapper .content-middle .suggestions{
    display: flex;
    max-width: 840px;
    border-radius: 10%;
    background-color: #b0bdcb;
    height: 380px;
    margin-top: -380px;
    margin-left: -400px;
    padding: 20px;
    transition: all 0.3s ease;
}




.wrapper.collapse .sidebar {
    width: 70px;
}

.wrapper.collapse .sidebar ul li a {
    text-align: center;
}

.wrapper.collapse .sidebar ul li a span.icon {
    margin: 0;
    color: #FFF;
}

.wrapper.collapse .sidebar ul li a span.title {
    display: none;
}

.wrapper.collapse .intro {
    width: calc(100% - 70px);
    margin-left: 70px;
}

.icon {
    fill: white;
}






