body {
    background: #e1ecf2;
    height: 100vh;
    /* position: fixed; */
}

#content-middle {
    height: 100vh;
}

.wrapper .content-middle .change-password {
    width: calc(85%);
    margin-top: 20px;
    background-color: #dae5f1;
    max-width: 30%;
    height: 45%;
    margin-left: 15.2%;
    padding: 20px;
    transition: all 0.3s ease;
    border-radius: 10%;
}



.wrapper .content-middle .change-password p {
    text-align: justify;
    padding: 10px;
}

.wrapper .content-middle .change-password h3 {
    padding: 10px;
}

.wrapper.collapse .change-password {
    width: calc(100% - 70px);
    margin-left: 150px;
}

.wrapper .content-middle .help-form {
    width: calc(85%);
    margin-top: 80px;
    background-color: #dae5f1;
    max-width: 40%;
    height: 70%;
    margin-left: 4%;
    padding: 20px;
    transition: all 0.3s ease;
    border-radius: 10%;
}

.wrapper.collapse .help-form {
    margin-left: 8%;
}

.wrapper .content-middle .help-form h3 {
    padding: 10px;
}


input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #3778f2;
    color: white;
    margin-right: 20px;
    margin-bottom: 1%;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.label-prop {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.input-prop {
    float: left;
    width: 75%;
    margin-top: 15px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#date-input {
    margin-top: 15px;
}

@media screen and (max-width: 600px) {

    .label-prop,
    .input-prop,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

.wrapper .content-middle .notifications {
    width: calc(85%);
    margin-top: 380px;
    background-color: #dae5f1;
    max-width: 30%;
    height: 40%;
    margin-left: -1075px;
    padding: 20px;
    transition: all 0.3s ease;
    border-radius: 10%;
}

.wrapper.collapse .notifications {
    margin-left: -78%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }  

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }



  .notify{
    display: inline-block;
    margin: 20px 20px 0px 0px;
    padding-left: 50px;
  }