.payment_container {
    width: 75%;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.payment_container h1{
    font-size:25px;
    margin-bottom:22px;
}

.form-box {
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding:18px;
    border-radius:12px;
}

.form-box .topic, label{
    display: flex;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
}

.radio-btn-container {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
}

.radio-btn label {
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    text-align: center;
    background-color: #fff;
    color: #000;
}

.radio-btn input[type="radio"] {
    display: none;
}

.radio-btn input[type="radio"]:checked+label {
    background-image: linear-gradient(#28e0fd, #0d70ea);
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.account_numinput {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content:center;
    border-radius:10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.inputbox {
    margin-bottom: 20px;

}

.bill-info{
    padding:10px;
    display: inline-block;
    vertical-align: top;
    width: calc(45% - 5px);
    margin:10px;
    border-radius:8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btncls{
    margin-top:20px;
    text-align:center;
}

.btncls .epay-now-button{
    background-image: linear-gradient(#fdfd28, #d1c900);
}

.btncls .epay-now-button:hover{
    background-image: linear-gradient(#b1b100, #948f00);
}

.btncls .wpay-now-button{
    background-image: linear-gradient(#283efd, #002bd1);
    color: #FFFFFF;
}

.btncls .wpay-now-button:hover{
    background-image: linear-gradient(#0600b1, #050094);
}

.bill-info p {
    margin: 10px;
}

.btncls button {
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
    color: #000;
}

.btncls button:hover {
    background-color: #4b4b4b;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}