.payment_container {
    width: 75%;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.payment_container h1{
    font-size:25px;
    margin-bottom:22px;
}

.form-box {
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding:18px;
    border-radius:12px;
}

.form-box .topic, label{
    display: flex;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
}

.radio-btn-container {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
}

.radio-btn label {
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    text-align: center;
    background-color: #fff;
    color: #000;
}

.radio-btn input[type="radio"] {
    display: none;
}

.radio-btn input[type="radio"]:checked+label {
    background-color: #4b4b4b;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.account_numinput {
    display: flex;
    flex-direction: column;
}

.inputbox {
    margin-bottom: 20px;
}

.select-box {
    margin-bottom: 10px;
}

.select-box label {
    display: block;
    margin-bottom: 5px;
    padding-left:20px;
}

.dropdownclass{
    text-align: center;
}

.dropdownclass select{
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 16px;
    color: #333;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.inputbtn {
    text-align: center;
}

.proceed-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.proceed-button:hover {
    background-color: #0056b3;
}


.bill_detailsbox {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.button_box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn {
    display: block;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    width: 80px;
    text-align: center;
    background-color: #fff;
    color: #000;
}

#submitButton {
    background-color: #006c26;
    color: #ffffff;
}

.btn:hover {
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#resetButton {
    background-color: #6b0000;
    color: #ffffff;
}.payment_container {
     width: 75%;
     margin: 100px auto;
     padding: 20px;
     border: 1px solid #ccc;
     border-radius: 5px;
     background-color: #f9f9f9;
     font-size: 15px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }

.payment_container h1{
    font-size:25px;
    margin-bottom:22px;
}

.form-box {
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding:18px;
    border-radius:12px;
}

.form-box .topic, label{
    display: flex;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
}

.radio-btn-container {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
}

.radio-btn label {
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    text-align: center;
    background-color: #fff;
    color: #000;
}

.radio-btn input[type="radio"] {
    display: none;
}

.radio-btn input[type="radio"]:checked+label {
    background-color: #4b4b4b;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.account_numinput {
    display: flex;
    flex-direction: column;
}

.inputbox {
    margin-bottom: 20px;
}

.select-box {
    margin-bottom: 10px;
}

.select-box label {
    display: block;
    margin-bottom: 5px;
}

.dropdown select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 16px;
    color: #333;
    outline: none;
}

.inputbtn {
    text-align: center;
}

.proceed-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.proceed-button:hover {
    background-color: #0056b3;
}


.bill_detailsbox {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.button_box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn {
    display: block;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    width: 80px;
    text-align: center;
    background-color: #fff;
    color: #000;
}

#submitButton {
    background-color: #006c26;
    color: #ffffff;
}

.btn:hover {
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#resetButton {
    background-color: #6b0000;
    color: #ffffff;
}