@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");

:root {
    --dark-blue: #030052;
    --blue: #09018DFF;
    --wgradient: linear-gradient(90deg, var(--dark-blue), var(--blue));
    --wgradient2: linear-gradient(90deg, var(--blue), var(--dark-blue));
    --dark-yellow: #f8f232;
    --yellow: #c2b540;
    --gradient: linear-gradient(90deg, var(--dark-yellow), var(--yellow));
    --gradient2: linear-gradient(90deg, var(--yellow), var(--dark-yellow));
}


*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    place-items: center;
    /* align-items: center; */
    justify-content: center;
    color: black;
    background-color:var(--tertiary-color);
    font-family: 'Roboto', sans-serif;
    font-size:14px;
}

.contact-contaiter{
    max-width: 90%;
    max-height: 90%;
    margin: 15vh auto;
    width: 100%;
    padding: 3%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    box-shadow: 0 0 05px rgba(135, 134, 134, 0.9);
    border-radius: 0.5rem;
    overflow: hidden;
}

.contact-contaiter .detail-container{
    background-color: rgb(245, 245, 245);
    border-radius:12px;
    padding: 30px;
}

.contact-contaiter .detail-container .Detail{
    background-color:white;
    border-radius: 10px;
    width: 80%;
    /* align-items: center;
    justify-content: center; */
    padding: 5%;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 1px 1px 1px 1px rgb(178, 178, 178);
}

.form-container{
    font-size:15px;
    padding: 20px;
}

.form-container h3{
    font-weight: 600;
    margin-bottom: 1rem;
}

.contact-contaiter .form-container .contact-form{
    padding: 10px 20px 10px 20px;
    display: grid;
    row-gap: 2rem;
}

.contact-contaiter .form-container .contact-form input, .contact-form textarea{
    width: 100%;
    height: 30px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #1e1c1c;
    color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
}

.contact-contaiter .form-container .contact-form textarea{
    resize: none;
    height: 200px;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

.contact-contaiter .form-container .contact-form .send-button{
    outline: none;
    margin-top: 1rem;
    transition: 0.3s;
    justify-content: center; align-items: center;
    display: inline-block;
    padding: 0.8rem 3rem;
    border-radius: 5rem;
    background: var(--wgradient);
    font-size: 1.7rem;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.contact-contaiter .form-container .contact-form .send-button:hover{
    transform: scale(1.1);
    background: var(--wgradient2);
    color: #fff;
}

.contact-contaiter .form-container .contact-form .esend-button{
    outline: none;
    margin-top: 1rem;
    transition: 0.3s;
    justify-content: center; align-items: center;
    display: inline-block;
    padding: 0.8rem 3rem;
    border-radius: 5rem;
    background: var(--gradient);
    font-size: 1.7rem;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.contact-contaiter .form-container .contact-form .esend-button:hover{
    transform: scale(1.1);
    background: var(--gradient2);
    color: #fff;
}


.contact-contaiter .map-container iframe{
    width: 100%;
    height: 100%;
}

@media (max-width: 964px){
    .contact-contaiter{
        grid-template-columns: repeat(1, 1fr);
        margin: 15vh auto;
        width: 90%;
    }
}

@media(max-width: 400px){
    .contact-contaiter{
        grid-template-columns: repeat(1, 1fr);
        margin: 20rem !important;
        gap: 1rem;
    }
    .contact-contaiter .map-container iframe{
        height: 400px;
    }
}

.image-profile {
    border: 2px solid rgb(76, 154, 255);
    border-radius: 50%;
    object-fit: cover;
    background-color: #f0f0f0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}