body {
    margin: 0;
    line-height: normal;
}

:root {
    /* fonts */
    --font-inter: Inter;
    --font-poppins: Poppins;
    --font-kaisei-decol: "Kaisei Decol";

    /* font sizes */
    --font-size-xs-3: 11px;

    /* Colors */
    --color-white: #fff;
    --color-gray-100: #232020;
    --color-gray-200: #202020;
    --color-black: #000;

    --primary-color: #100f0f;
    --secondary-color: #787575;
    --tertiary-color: #fff;
    --water-color: #023e8a;
    --water-color2: #012A4A;
    --electricity-color: #c7ba03;
    --electricity-color2: #8c7400;
    --electricity-color3: #8c7400;


    /* Gaps */
    --gap-9xl: 28px;
    --gap-21xl: 40px;

    /* Paddings */
    --padding-6xs: 7px;

    /* Border radius's */
    --br-mid-6: 17.6px;
    --br-6xs: 7px;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #f7f9fb;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: 0.75s, visibility 0.75s;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: rgb(76, 154, 255);
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
