body {
    margin: 0;
    line-height: normal;
}

:root {
    /* fonts */
    --font-inter: Inter;
    --font-poppins: Poppins;
    --font-kaisei-decol: "Kaisei Decol";

    /* font sizes */
    --font-size-xs-3: 11px;

    /* Colors */
    --color-white: #fff;
    --color-gray-100: #232020;
    --color-gray-200: #202020;
    --color-black: #000;

    --primary-color: #100f0f;
    --secondary-color: #787575;
    --tertiary-color: #fff;
    --water-color: #023e8a;
    --water-color2: #012A4A;
    --electricity-color: #c7ba03;
    --electricity-color2: #8c7400;
    --electricity-color3: #8c7400;


    /* Gaps */
    --gap-9xl: 28px;
    --gap-21xl: 40px;

    /* Paddings */
    --padding-6xs: 7px;

    /* Border radius's */
    --br-mid-6: 17.6px;
    --br-6xs: 7px;
}
