.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.navv{
    font-family: 'Script MT Bold', serif;
    margin: auto;
    left: 0;
    right: 0;
    box-shadow: 0 5px 5px 0 #aaa;
    width: 100%;
    background: #fff;
    color: #000;
    z-index: 100;
    display: block;
    position: fixed;
    padding-bottom: 10px;
    top: 0;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
}

.menu-items{
    order: 2;
    display: flex;
    align-items: center;

}



.menu-items-li{
    margin-left: 1rem;
}

.logo{
    order: 1;
    margin-top: 10px;
}

.menu-items-li{
    margin-left: 5rem;
    margin-top: 2.5rem;
}

.menu-items li{
    list-style: none;
    font-size: 1.5rem;
}

.navbar a{
    color: #444;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover{
    color: #117964;
}

.nxt-page {
    align-items: center;
}

.dropdown-toggle {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-toggle {
    color: #117964;
}

.fa-solid {
    padding-right: 5px;
}


@media (max-width: 768px){
    .navbar{
        height: 75px;
    }

    .header-component {
        height: 100%;
        object-fit: contain;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines{
        display: block;
    }

    .navbar-container{
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines{
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }

    .navbar-container .hamburger-lines .line1,
    .navbar-container .hamburger-lines .line3{
        transform-origin: 0 0;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
    }

    .navbar .menu-items{
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        box-shadow: 5px 0 10px 0 #aaa;
        overflow: scroll;
    }

    .navbar .menu-items li{
        font-size: 1.5rem;
    }

    .logo{
        position: absolute;
        top: 10px;
        right: 30vw;
        font-size: 2rem;
        margin: 0;
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }

    .water-dashboard {
        padding-top: 64px;
    }
}

@media (max-width: 500px){
    .navbar-container input[type="checkbox"]:checked ~ .logo{
        display: none;
    }

    .navbar .menu-items li a{
        font-size: 1.5rem;
    }
}