body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333333;
  }
  
  .setting-container {
    width: 95%;
    align-items: center;
    background-color: #f4f4f4;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}
  
  div {
    border-bottom: 1px solid #b1b1b1;
    padding: 20px;
    background-color: rgb(255, 255, 255,0.25);
  }
  
  h2 {
    color: #b7b7b7;
  }
  p
  label
  {
    padding-left: 10px;
  }
  
  button {
    background-color: #333333;
    color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 8px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin: 10px;
  }
  
  button:hover {
    background-color: #555555;
  }
  
  .toggle-button {
    width: 50px;
    height: 5px;
    background-color: #fbf9f9;
    position: relative;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  }
  
  .toggle-button::before {
    content: '';
    width: 20px;
    height: 20px;
    background-color: #333333;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: 0.3s;
  }

  .divbox{
    display: flex;
    gap: 10px;
  }
  
  input[type="checkbox"] {
    display: none;
  }
  
  input[type="checkbox"]:checked + .toggle-button::before {
    left: 28px;
  }
  
  select {
    width: 50%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: #dfdfdf;
    border-bottom:3px #e9dfdf;
    border-left:3px #e9dfdf;
  }
  option{
    padding: 10px;
    background-color: #dfdfdf;
  }
  
  textarea {
    width: 100%;
    margin-left: 12px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin-top: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  @media (max-width: 600px) {
    .setting-container {
      width: 50%;
      padding: 10px;
    }
  }

.image-profile {
  border: 2px solid rgb(76, 154, 255);
  border-radius: 50%;
  object-fit: cover;
  background-color: #f0f0f0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
  