.box{
    width: 600px;
    background-color: #fff;
    border-radius: 10px;
    padding: 5px;
}
.box form .input_box{
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
}
.box form .input_box input{
    width: 100%;
    font-size: 25px;
    padding: 10px 15px;
    border: none;
    outline: rgb(76, 154, 255);
}
.box form .selection{
    background-image: linear-gradient(#0dccea, #0d70ea);
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.box form .selection p{
    font-size: 25px;
    color: #fff;
}
.box form .selection span{
    display: inline-block;
    rotate: 45deg;
    margin-left: 10px;
    margin-bottom: 5px;
}

.box form .categories{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #000;
    color: #fff;
    padding: 10px;
    font-size: 25px;
    margin-top: 1px;
    border-radius: 5px;
}
.box form .categories p{
    margin: 5px 0;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;

}
.box form .categories p:hover{
    background-image: linear-gradient(#0dccea, #0d70ea);
}

.box form .categories{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgb(76, 154, 255);
    color: #fff;
    padding: 10px;
    font-size: 0;
    opacity: 0;
    pointer-events: none;
    margin-top: 1px;
    border-radius: 5px;
}

.box form .active{
    font-size: 25px;
    opacity: 1;
    pointer-events: fill;
}

input[type="text"] {
    box-shadow: 0 8px 10px -5px rgba(0,0,0,0.2), 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12);
}

input[type="text"]:focus {
    box-shadow: 0 8px 10px -5px rgba(76, 154, 255, 0.2), 0 16px 24px 2px rgba(76, 154, 255, 0.14), 0 6px 30px 5px rgba(76, 154, 255, 0.12);
}

.resetButton {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: linear-gradient(#0dccea, #0d70ea);
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 25px;
    color: #fff;
    border: none;
    margin-top: 0;
    justify-content: center;
}
